body {
  background-color: lightgray;
  text-align: center;
  border: 1px solid black;
  width: 960px;
  margin: auto;
}

div {
  height: 500px;
}

main {
  display: flex;
}

#left {
  order: 1;
}

#right {
  order: 3;
}

#main {
  order: 2;
}
